.sap-ui-custom-extra .sapThemeNegativeText {
    color: #e52929;
}

.sap-ui-custom-extra .appRootStyle .login-view-page .sapMPanelContent {
    background-color: transparent;
    border: none;
}

.sap-ui-custom-extra .sapMLabel.vehicle-name {
    font-weight: bold;
}
.sap-ui-custom-extra .sapMLabel.text-small-italic {
    font-style: italic;
    font-size: 0.7rem;
    line-height: 1.2rem;
}

.sap-ui-custom-extra .sapMListTbl .sapMLIB.sapMListTblRow[data-err="true"] { background-color: #fff0f0; }

/* Sensor List */
.sap-ui-custom-extra .sapMList.sensor-list .sapMLIB {
    height: 2rem;
}
.sap-ui-custom-extra .sapMList.sensor-list .sapMLIBContent {
    line-height: 2rem;
}
.sap-ui-custom-extra .sapMList.sensor-list .sapMLIBContent .sapMDLILabel {
    font-size: 0.875rem;
}
.sap-ui-custom-extra .sapMList.sensor-list .sapMLIB:nth-child(even) {
    background-color: #ebebeb;
}

/* Side menu begin */
.sap-ui-custom-extra.sap-phone .sapTntToolPageAsideCollapsed .sapTntToolPageAside {
    -webkit-transform: translateX(-3rem);
    transform: translateX(-3rem);
}
.sap-ui-custom-extra.sap-phone .sapTntToolPageAside {width:3rem;}
.sap-ui-custom-extra.sap-phone .sapTntSideNavigation {width:3rem;}

.sap-ui-custom-extra.sap-phone .sapTntToolPageMain {
    -webkit-transform: translateX(3rem);
    transform: translateX(3rem);
}
/* Side menu end */

/* Side menu background begin */
.sap-ui-custom-extra.sap-phone .sapTntToolPageAside::after {
    content: '';
    display: block;
    position: absolute;
    top:0;
    height:100%;
    z-index: -1;
    background-color: #000;
    opacity: 0.2;
    width: calc(100vw + 3rem);
}

.sap-ui-custom-extra.sap-phone .sapTntToolPageAsideCollapsed .sapTntToolPageAside::after {
    opacity: 0.0;
    width:0;
}

html:not([data-sap-ui-animation='off']).sap-ui-custom-extra.sap-phone .sapTntToolPageAside::after {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
/* Side menu background end */

/* Яндекс класс для совместимости */
.ymap-navback-btn {
    -webkit-transition: background-color .15s ease-out,border-color .15s ease-out,opacity .15s ease-out;
    transition: background-color .15s ease-out,border-color .15s ease-out,opacity .15s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: border-box;
    background-color: #fff;
    width:28px;
    height: 28px;
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
}
.ymap-navback-btn:active {
    background-color: #ebebeb;
    opacity: 0.5;
}

.position-absolute {
    position: absolute;
}

.custom-icon-1 {
    display:block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
}

.svg-icon-speed {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 428.948 428.948" style="enable-background:new 0 0 428.948 428.948;" xml:space="preserve" width="512px" height="512px"><g><g><path d="M221.988,280.48c9.664,0,17.516-7.889,17.516-17.563c0-9.653-7.852-17.487-17.516-17.487    l-79.361-58.371l61.844,76.985C205.045,273.208,212.68,280.48,221.988,280.48z" fill="silver"/><rect x="127.008" y="332.197" width="174.933" height="41.513" fill="silver"/><path d="M366.13,118.057c-40.51-40.509-94.369-62.818-151.656-62.818    c-57.288,0-111.148,22.309-151.657,62.818S0,212.425,0,269.713c0,36.99,9.319,72.539,26.816,103.997h40.086l29.319-16.929    l-12.948-22.428l-37.7,21.768c-13.319-25.932-20.843-55.307-20.843-86.408c0-5.504,0.25-10.951,0.711-16.338l44.952,7.926    l4.497-25.504l-45.481-8.019c8.127-35.883,26.451-67.937,51.755-92.948l30.815,36.725l19.839-16.646l-31.049-37.002    c28.471-21.379,63.128-34.938,100.757-37.485v49.117h25.896V80.422c37.629,2.549,72.286,16.107,100.758,37.486l-31.05,37.001    l19.838,16.646l30.816-36.726c25.303,25.012,43.627,57.066,51.754,92.948l-45.48,8.021l4.498,25.502l44.949-7.927    c0.461,5.388,0.711,10.834,0.711,16.338c0,31.103-7.521,60.479-20.842,86.409l-37.701-21.766l-12.947,22.427l29.318,16.927h40.088    c17.498-31.458,26.816-67.007,26.816-103.997C428.949,212.424,406.638,158.564,366.13,118.057z" fill="silver"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
}
.svg-icon-speed[data-moving="true"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 428.948 428.948" style="enable-background:new 0 0 428.948 428.948;" xml:space="preserve" width="512px" height="512px"><g><g><path d="M221.988,280.48c9.664,0,17.516-7.889,17.516-17.563c0-9.653-7.852-17.487-17.516-17.487    l-79.361-58.371l61.844,76.985C205.045,273.208,212.68,280.48,221.988,280.48z" fill="#008000"/><rect x="127.008" y="332.197" width="174.933" height="41.513" fill="#008000"/><path d="M366.13,118.057c-40.51-40.509-94.369-62.818-151.656-62.818    c-57.288,0-111.148,22.309-151.657,62.818S0,212.425,0,269.713c0,36.99,9.319,72.539,26.816,103.997h40.086l29.319-16.929    l-12.948-22.428l-37.7,21.768c-13.319-25.932-20.843-55.307-20.843-86.408c0-5.504,0.25-10.951,0.711-16.338l44.952,7.926    l4.497-25.504l-45.481-8.019c8.127-35.883,26.451-67.937,51.755-92.948l30.815,36.725l19.839-16.646l-31.049-37.002    c28.471-21.379,63.128-34.938,100.757-37.485v49.117h25.896V80.422c37.629,2.549,72.286,16.107,100.758,37.486l-31.05,37.001    l19.838,16.646l30.816-36.726c25.303,25.012,43.627,57.066,51.754,92.948l-45.48,8.021l4.498,25.502l44.949-7.927    c0.461,5.388,0.711,10.834,0.711,16.338c0,31.103-7.521,60.479-20.842,86.409l-37.701-21.766l-12.947,22.427l29.318,16.927h40.088    c17.498-31.458,26.816-67.007,26.816-103.997C428.949,212.424,406.638,158.564,366.13,118.057z" fill="#008000"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
}
.text-color-speed { color: silver; }
.text-color-speed[data-moving="true"] {
    color: #008000;
}

.svg-icon-altitude {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px"><g><g><path d="M509.799,459.849L388.037,282.312c-2.342-3.414-6.216-5.455-10.355-5.455s-8.014,2.04-10.354,5.453l-23.844,34.409    l-78.689-135.876V134.83h112.97c4.631,0,8.885-2.868,11.07-6.951c2.185-4.083,1.946-9.196-0.623-13.05l-21.408-32.195    l21.408-32.149c2.569-3.852,2.808-8.356,0.623-12.44c-2.184-4.083-6.439-6.182-11.07-6.182H252.719    c-6.935,0-13.037,4.68-13.037,11.615v0.314v137.439L164.514,311.84l-20.132-29.531c-2.342-3.414-6.155-5.455-10.295-5.455    s-7.729,2.04-10.07,5.455L2.273,459.849c-2.637,3.844-3.047,9.145-0.875,13.268c2.172,4.124,6.329,7.018,10.99,7.018h243.522    h243.535c4.661,0,8.938-2.896,11.11-7.018C512.725,468.994,512.434,463.693,509.799,459.849z M264.796,56.981h89.506    L341.266,76.22c-2.811,4.218-2.811,9.401,0,13.619l13.037,19.88h-89.508V56.981z M377.68,312.242l27.308,39.817h-54.621    L377.68,312.242z M252.832,210.145l31.189,54.02h-62.378L252.832,210.145z M134.148,312.243l27.305,39.816h-54.612    L134.148,312.243z M36.225,455.023l53.394-77.851h89.057l53.394,77.851H36.225z M180.783,335.192l26.36-45.916h91.378    l29.458,50.711l-71.786,104.92L180.783,335.192z M279.747,455.023l53.394-77.851h89.07l53.394,77.851H279.747z" fill="#303c42"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
}

.svg-icon-satellite {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M501.333,384c-5.896,0-10.667,4.771-10.667,10.667c0,52.938-43.063,96-96,96c-5.896,0-10.667,4.771-10.667,10.667     c0,5.896,4.771,10.667,10.667,10.667C459.354,512,512,459.365,512,394.667C512,388.771,507.229,384,501.333,384z" fill="silver"/><path d="M394.667,469.333c41.167,0,74.667-33.5,74.667-74.667c0-5.896-4.771-10.667-10.667-10.667S448,388.771,448,394.667     C448,424.073,424.083,448,394.667,448c-5.896,0-10.667,4.771-10.667,10.667S388.771,469.333,394.667,469.333z" fill="silver"/><path d="M394.667,426.667c17.646,0,32-14.354,32-32c0-5.896-4.771-10.667-10.667-10.667c-5.896,0-10.667,4.771-10.667,10.667     c0,5.885-4.792,10.667-10.667,10.667c-5.896,0-10.667,4.771-10.667,10.667C384,421.896,388.771,426.667,394.667,426.667z" fill="silver"/><path d="M380.875,365.792l-1.897-1.897c36.997-38.616,85.466-101.066,63.168-123.374c-3.978-3.978-9.322-5.534-15.497-5.47     l0.018-0.384h-32c-20.595,0-40.229,4.047-58.327,11.164l-43.547-43.54l16.54-16.54l35.125,35.125     c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l117.333-117.333c4.167-4.167,4.167-10.917,0-15.083     L391.542,3.125c-4.167-4.167-10.917-4.167-15.083,0L259.125,120.458c-4.167,4.167-4.167,10.917,0,15.083l35.125,35.125     l-16.542,16.542l-8.458-8.458c-13.021-13.01-30.417-19.49-48.917-18.479c-7.792-7.01-17.854-10.938-28.333-10.938     c-23.521,0-42.667,19.135-42.667,42.667c0,10.49,3.938,20.542,10.938,28.333c-1.104,18.323,5.458,35.906,18.479,48.917     l8.458,8.458l-16.542,16.542l-35.125-35.125c-4.167-4.167-10.917-4.167-15.083,0L3.125,376.458     c-4.167,4.167-4.167,10.917,0,15.083l85.333,85.333C90.542,478.958,93.271,480,96,480s5.458-1.042,7.542-3.125l117.333-117.333     c4.167-4.167,4.167-10.917,0-15.083l-35.125-35.125l16.542-16.542l43.542,43.542c-7.12,18.1-11.167,37.736-11.167,58.333v32     h0.379c-0.056,6.164,1.501,11.503,5.475,15.479c3.917,3.917,9.063,5.646,15.104,5.646c28.428,0,76.384-38.324,108.221-68.862     l1.945,1.945c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125     C385.042,376.708,385.042,369.958,380.875,365.792z M352,198.25l-27.583-27.583l24.026-24.026l27.583,27.583L352,198.25z      M391.109,159.141l-27.583-27.583l24.031-24.031l27.583,27.583L391.109,159.141z M454.25,96l-24.026,24.026l-27.583-27.583     l24.026-24.026L454.25,96z M384,25.75l27.583,27.583l-24.026,24.026l-27.583-27.583L384,25.75z M344.891,64.859l27.583,27.583     l-24.031,24.031l-27.583-27.583L344.891,64.859z M281.75,128l24.026-24.026l27.583,27.583l-24.026,24.026L281.75,128z      M128,281.75l27.583,27.583l-24.026,24.026l-27.583-27.583L128,281.75z M88.891,320.859l27.583,27.583l-24.031,24.031     l-27.583-27.583L88.891,320.859z M25.75,384l24.026-24.026l27.583,27.583l-24.026,24.026L25.75,384z M96,454.25l-27.583-27.583     l24.026-24.026l27.583,27.583L96,454.25z M135.109,415.141l-27.583-27.583l24.031-24.031l27.583,27.583L135.109,415.141z      M198.25,352l-24.026,24.026l-27.583-27.583l24.026-24.026L198.25,352z M374.62,257.618     c-22.943,15.656-46.518,36.566-63.474,53.527c-16.954,16.954-37.865,40.52-53.523,63.456     C266.439,314.204,314.221,266.427,374.62,257.618z M255.565,315.898l-61.732-61.732c-9.521-9.521-13.854-22.76-11.875-36.333     c0.521-3.635-0.854-7.292-3.667-9.667c-4.854-4.115-7.625-10-7.625-16.167c0-11.76,9.563-21.333,21.333-21.333     c6.25,0,12,2.719,16.188,7.646c2.375,2.781,5.917,4.177,9.667,3.646c13.521-1.958,26.813,2.354,36.313,11.875l61.737,61.728     C290.751,269.859,269.865,290.746,255.565,315.898z M363.799,348.716l-14.924-14.924c-4.167-4.167-10.917-4.167-15.083,0     c-4.167,4.167-4.167,10.917,0,15.083l14.928,14.928c-48.026,46.199-85.322,65.609-92.616,63.988     c-2.813-8.479,18.208-49.667,70.125-101.563c50.104-50.104,90.208-71.438,99.458-71.438c0.313,0,0.625,0.031,0.875,0.083     C429.232,262.922,410.092,300.56,363.799,348.716z" fill="silver"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
}
.svg-icon-satellite[data-satellites="true"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M501.333,384c-5.896,0-10.667,4.771-10.667,10.667c0,52.938-43.063,96-96,96c-5.896,0-10.667,4.771-10.667,10.667     c0,5.896,4.771,10.667,10.667,10.667C459.354,512,512,459.365,512,394.667C512,388.771,507.229,384,501.333,384z" fill="#303c42"/><path d="M394.667,469.333c41.167,0,74.667-33.5,74.667-74.667c0-5.896-4.771-10.667-10.667-10.667S448,388.771,448,394.667     C448,424.073,424.083,448,394.667,448c-5.896,0-10.667,4.771-10.667,10.667S388.771,469.333,394.667,469.333z" fill="#303c42"/><path d="M394.667,426.667c17.646,0,32-14.354,32-32c0-5.896-4.771-10.667-10.667-10.667c-5.896,0-10.667,4.771-10.667,10.667     c0,5.885-4.792,10.667-10.667,10.667c-5.896,0-10.667,4.771-10.667,10.667C384,421.896,388.771,426.667,394.667,426.667z" fill="#303c42"/><path d="M380.875,365.792l-1.897-1.897c36.997-38.616,85.466-101.066,63.168-123.374c-3.978-3.978-9.322-5.534-15.497-5.47     l0.018-0.384h-32c-20.595,0-40.229,4.047-58.327,11.164l-43.547-43.54l16.54-16.54l35.125,35.125     c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125l117.333-117.333c4.167-4.167,4.167-10.917,0-15.083     L391.542,3.125c-4.167-4.167-10.917-4.167-15.083,0L259.125,120.458c-4.167,4.167-4.167,10.917,0,15.083l35.125,35.125     l-16.542,16.542l-8.458-8.458c-13.021-13.01-30.417-19.49-48.917-18.479c-7.792-7.01-17.854-10.938-28.333-10.938     c-23.521,0-42.667,19.135-42.667,42.667c0,10.49,3.938,20.542,10.938,28.333c-1.104,18.323,5.458,35.906,18.479,48.917     l8.458,8.458l-16.542,16.542l-35.125-35.125c-4.167-4.167-10.917-4.167-15.083,0L3.125,376.458     c-4.167,4.167-4.167,10.917,0,15.083l85.333,85.333C90.542,478.958,93.271,480,96,480s5.458-1.042,7.542-3.125l117.333-117.333     c4.167-4.167,4.167-10.917,0-15.083l-35.125-35.125l16.542-16.542l43.542,43.542c-7.12,18.1-11.167,37.736-11.167,58.333v32     h0.379c-0.056,6.164,1.501,11.503,5.475,15.479c3.917,3.917,9.063,5.646,15.104,5.646c28.428,0,76.384-38.324,108.221-68.862     l1.945,1.945c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125     C385.042,376.708,385.042,369.958,380.875,365.792z M352,198.25l-27.583-27.583l24.026-24.026l27.583,27.583L352,198.25z      M391.109,159.141l-27.583-27.583l24.031-24.031l27.583,27.583L391.109,159.141z M454.25,96l-24.026,24.026l-27.583-27.583     l24.026-24.026L454.25,96z M384,25.75l27.583,27.583l-24.026,24.026l-27.583-27.583L384,25.75z M344.891,64.859l27.583,27.583     l-24.031,24.031l-27.583-27.583L344.891,64.859z M281.75,128l24.026-24.026l27.583,27.583l-24.026,24.026L281.75,128z      M128,281.75l27.583,27.583l-24.026,24.026l-27.583-27.583L128,281.75z M88.891,320.859l27.583,27.583l-24.031,24.031     l-27.583-27.583L88.891,320.859z M25.75,384l24.026-24.026l27.583,27.583l-24.026,24.026L25.75,384z M96,454.25l-27.583-27.583     l24.026-24.026l27.583,27.583L96,454.25z M135.109,415.141l-27.583-27.583l24.031-24.031l27.583,27.583L135.109,415.141z      M198.25,352l-24.026,24.026l-27.583-27.583l24.026-24.026L198.25,352z M374.62,257.618     c-22.943,15.656-46.518,36.566-63.474,53.527c-16.954,16.954-37.865,40.52-53.523,63.456     C266.439,314.204,314.221,266.427,374.62,257.618z M255.565,315.898l-61.732-61.732c-9.521-9.521-13.854-22.76-11.875-36.333     c0.521-3.635-0.854-7.292-3.667-9.667c-4.854-4.115-7.625-10-7.625-16.167c0-11.76,9.563-21.333,21.333-21.333     c6.25,0,12,2.719,16.188,7.646c2.375,2.781,5.917,4.177,9.667,3.646c13.521-1.958,26.813,2.354,36.313,11.875l61.737,61.728     C290.751,269.859,269.865,290.746,255.565,315.898z M363.799,348.716l-14.924-14.924c-4.167-4.167-10.917-4.167-15.083,0     c-4.167,4.167-4.167,10.917,0,15.083l14.928,14.928c-48.026,46.199-85.322,65.609-92.616,63.988     c-2.813-8.479,18.208-49.667,70.125-101.563c50.104-50.104,90.208-71.438,99.458-71.438c0.313,0,0.625,0.031,0.875,0.083     C429.232,262.922,410.092,300.56,363.799,348.716z" fill="#303c42"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');

    -webkit-animation-name: satellite-icon-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-in-out;
    animation-name: satellite-icon-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes satellite-icon-animation {
    30%   {opacity:1.0;}
    50%  {opacity:0;}
    70% {opacity:1.0;}
}

@keyframes satellite-icon-animation {
    30%   {opacity:1.0;}
    50%  {opacity:0;}
    70% {opacity:1.0;}
}
.text-color-satellite { color: silver; }
.text-color-satellite[data-satellites="true"] {
    color: unset;
}

.svg-icon-gps-on {
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><path style="fill:#303C42;" d="M501.333,245.333H447.46c-5.388-97.341-83.443-175.405-180.793-180.793V10.667 C266.667,4.771,261.896,0,256,0c-5.896,0-10.667,4.771-10.667,10.667V64.54c-97.35,5.388-175.405,83.452-180.793,180.793H10.667 C4.771,245.333,0,250.104,0,256c0,5.896,4.771,10.667,10.667,10.667H64.54c5.388,97.341,83.443,175.405,180.793,180.793v53.874 c0,5.896,4.771,10.667,10.667,10.667c5.896,0,10.667-4.771,10.667-10.667V447.46c97.35-5.388,175.405-83.452,180.793-180.793 h53.874c5.896,0,10.667-4.771,10.667-10.667C512,250.104,507.229,245.333,501.333,245.333z M256,426.667 c-94.104,0-170.667-76.563-170.667-170.667S161.896,85.333,256,85.333S426.667,161.896,426.667,256S350.104,426.667,256,426.667z" /><path style="fill:#303C42;" d="M256,170.667c-47.063,0-85.333,38.281-85.333,85.333s38.271,85.333,85.333,85.333 s85.333-38.281,85.333-85.333S303.063,170.667,256,170.667z"/></g><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-44.6025" y1="639.1005" x2="-24.8038" y2="629.8682" gradientTransform="matrix(21.3333 0 0 -21.3333 996.3334 13791.667)"><stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0.2"/><stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/></linearGradient> <path style="fill:url(#SVGID_1_);" d="M501.333,245.333H447.46c-5.388-97.341-83.443-175.405-180.793-180.793V10.667 C266.667,4.771,261.896,0,256,0c-5.896,0-10.667,4.771-10.667,10.667V64.54c-97.35,5.388-175.405,83.452-180.793,180.793H10.667 C4.771,245.333,0,250.104,0,256c0,5.896,4.771,10.667,10.667,10.667H64.54c5.388,97.341,83.443,175.405,180.793,180.793v53.874 c0,5.896,4.771,10.667,10.667,10.667c5.896,0,10.667-4.771,10.667-10.667V447.46c97.35-5.388,175.405-83.452,180.793-180.793h53.874 c5.896,0,10.667-4.771,10.667-10.667C512,250.104,507.229,245.333,501.333,245.333z M256,426.667 c-94.104,0-170.667-76.563-170.667-170.667S161.896,85.333,256,85.333S426.667,161.896,426.667,256S350.104,426.667,256,426.667z M256,170.667c-47.063,0-85.333,38.281-85.333,85.333s38.271,85.333,85.333,85.333s85.333-38.281,85.333-85.333 S303.063,170.667,256,170.667z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
}
.svg-icon-gps-off {
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path style="fill:#303C42;" d="M501.333,245.333H447.46c-5.388-97.341-83.443-175.405-180.793-180.793V10.667 C266.667,4.771,261.896,0,256,0c-5.896,0-10.667,4.771-10.667,10.667V64.54c-97.35,5.388-175.405,83.452-180.793,180.793H10.667 C4.771,245.333,0,250.104,0,256c0,5.896,4.771,10.667,10.667,10.667H64.54c5.388,97.341,83.443,175.405,180.793,180.793v53.874 c0,5.896,4.771,10.667,10.667,10.667c5.896,0,10.667-4.771,10.667-10.667V447.46c97.35-5.388,175.405-83.452,180.793-180.793h53.874 c5.896,0,10.667-4.771,10.667-10.667C512,250.104,507.229,245.333,501.333,245.333z M256,426.667 c-94.104,0-170.667-76.563-170.667-170.667S161.896,85.333,256,85.333S426.667,161.896,426.667,256S350.104,426.667,256,426.667z"/><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-44.6025" y1="639.1005" x2="-24.8038" y2="629.8682" gradientTransform="matrix(21.3333 0 0 -21.3333 996.3334 13791.667)"><stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0.2"/><stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/></linearGradient><path style="fill:url(#SVGID_1_);" d="M501.333,245.333H447.46c-5.388-97.341-83.443-175.405-180.793-180.793V10.667 C266.667,4.771,261.896,0,256,0c-5.896,0-10.667,4.771-10.667,10.667V64.54c-97.35,5.388-175.405,83.452-180.793,180.793H10.667 C4.771,245.333,0,250.104,0,256c0,5.896,4.771,10.667,10.667,10.667H64.54c5.388,97.341,83.443,175.405,180.793,180.793v53.874 c0,5.896,4.771,10.667,10.667,10.667c5.896,0,10.667-4.771,10.667-10.667V447.46c97.35-5.388,175.405-83.452,180.793-180.793h53.874 c5.896,0,10.667-4.771,10.667-10.667C512,250.104,507.229,245.333,501.333,245.333z M256,426.667 c-94.104,0-170.667-76.563-170.667-170.667S161.896,85.333,256,85.333S426.667,161.896,426.667,256S350.104,426.667,256,426.667z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
}

.text-color-engine-sens[data-engine-on="val0"] .sapMDLIValue { color: #800000; }
.text-color-engine-sens[data-engine-on="val1"] .sapMDLIValue { color: #008000; }

/* Анимация для активного объекта на карте */
.ymap-active-obj {
    border: 2px solid #99ff00;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 12px;
    width: 12px;
    position: absolute;
    left:-1px;
    top:1px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
}

@keyframes pulsate {
    0% {transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1.2, 1.2); opacity: 0.0;}
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.unit-std-listitem .sapMSLIImgThumb {width: 2rem; height: 2rem;}
.unit-std-listitem .sapMSLIDescription {font-size: 0.7rem; font-style: italic;}
.unit-std-listitem .sapMSLITitle {font-size: 0.875rem; font-weight:bold;}