.sap-ui-custom-extra .sapThemeNegativeText {
    color: #e52929;
}

.sap-ui-custom-extra .appRootStyle .login-view-page .sapMPanelContent {
    background-color: transparent;
    border: none;
}

.sap-ui-custom-extra .sapMLabel.vehicle-name {
    font-weight: bold;
}
.sap-ui-custom-extra .sapMLabel.vehicle-address {
    position: absolute;
    font-style: italic;
    font-size: 0.7rem;
    line-height: 1.2rem;
}

/* Side menu begin */
.sap-ui-custom-extra.sap-phone .sapTntToolPageAsideCollapsed .sapTntToolPageAside {
    -webkit-transform: translateX(-3rem);
    transform: translateX(-3rem);
}
.sap-ui-custom-extra.sap-phone .sapTntToolPageAside {width:3rem;}
.sap-ui-custom-extra.sap-phone .sapTntSideNavigation {width:3rem;}

.sap-ui-custom-extra.sap-phone .sapTntToolPageMain {
    -webkit-transform: translateX(3rem);
    transform: translateX(3rem);
}
/* Side menu end */

/* Side menu background begin */
.sap-ui-custom-extra.sap-phone .sapTntToolPageAside::after {
    content: '';
    display: block;
    position: absolute;
    top:0;
    height:100%;
    z-index: -1;
    background-color: #000;
    opacity: 0.2;
    width: calc(100vw + 3rem);
}

.sap-ui-custom-extra.sap-phone .sapTntToolPageAsideCollapsed .sapTntToolPageAside::after {
    opacity: 0.0;
    width:0;
}

html:not([data-sap-ui-animation='off']).sap-ui-custom-extra.sap-phone .sapTntToolPageAside::after {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
/* Side menu background end */

/* Яндекс класс для совместимости */
.ymap-navback-btn {
    -webkit-transition: background-color .15s ease-out,border-color .15s ease-out,opacity .15s ease-out;
    transition: background-color .15s ease-out,border-color .15s ease-out,opacity .15s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: border-box;
    background-color: #fff;
    width:28px;
    height: 28px;
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
}
.ymap-navback-btn:active {
    background-color: #ebebeb;
    opacity: 0.5;
}